<svg
  width="18"
  height="10"
  viewBox="0 0 39.0742 20.8536"
  fill="currentColor"
  xmlns="http://www.w3.org/2000/svg">
  <title>Cal.com</title>
  <path
    d="M 10.0582,20.817 C 4.32115,20.817 0,16.2763 0,10.6704 0,5.04589 4.1005,0.467773 10.0582,0.467773 c 3.1627,0 5.3508,0.971677 7.0609,3.195337 l -2.7582,2.2984 C 13.2025,4.72822 11.805,4.11158 10.0582,4.11158 c -3.87987,0 -6.01287,2.9711 -6.01287,6.55882 0,3.5878 2.33526,6.5028 6.01287,6.5028 1.7284,0 3.1995,-0.6166 4.3579,-1.8499 l 2.7214,2.3918 c -1.6365,2.1302 -3.8798,3.1019 -7.0793,3.1019 z" />
  <path
    d="m 29.0161,5.88601 h 3.7143 V 20.4612 H 29.0161 V 18.331 c -0.7723,1.5136 -2.0595,2.5226 -4.5234,2.5226 -3.935,0 -7.0794,-3.4195 -7.0794,-7.6239 0,-4.20442 3.1444,-7.62399 7.0794,-7.62399 2.4456,0 3.7511,1.00906 4.5234,2.52264 z m 0.1103,7.34369 c 0,-2.2797 -1.563,-4.16704 -4.0269,-4.16704 -2.3721,0 -3.9167,1.90594 -3.9167,4.16704 0,2.2049 1.5446,4.167 3.9167,4.167 2.4456,0 4.0269,-1.906 4.0269,-4.167 z" />
  <path
    d="m 35.3599,0 h 3.7143 v 20.4427 h -3.7143 z" /></svg>
    