<svg
  fill="currentColor"
  stroke-width="0.4"
  stroke="currentColor"
  width="16"
  height="16"
  viewBox="0 0 16 16"
  xmlns="http://www.w3.org/2000/svg"><title>HTTP</title><path
    d="M 2.5806452,5.419355 V 7.483871 H 1.0322581 V 5.419355 H 0 v 5.16129 H 1.0322581 V 8.516129 h 1.5483871 v 2.064516 h 1.032258 v -5.16129 z m 8.7741938,0 H 8.2580645 V 6.451613 H 9.290323 v 4.129032 h 1.032258 V 6.451613 h 1.032258 z M 4.6451613,6.451613 h 1.0322581 v 4.129032 h 1.032258 V 6.451613 H 7.7419355 V 5.419355 H 4.6451613 Z M 14.967742,5.419355 h -2.580645 v 5.16129 h 1.032258 V 9.032258 h 1.548387 A 1.0336516,1.0336516 0 0 0 16,8 V 6.451613 A 1.0334452,1.0334452 0 0 0 14.967742,5.419355 Z M 13.419355,8 V 6.451613 h 1.548387 L 14.968258,8 Z" /></svg>
