<svg
  width="16"
  height="16"
  viewBox="0 0 16 16"
  fill="currentColor"
  stroke="none"
  stroke-width="0"
  xmlns="http://www.w3.org/2000/svg"><title>HUGO</title><path
    style="fill:#ffffff;fill-opacity:0.5"
    d="m 8.8711299,1.2836445 4.4403421,2.5770926 c 0.520259,0.3024756 0.846932,0.8711298 0.846932,1.4760811 v 5.2872748 c 0,0.677545 -0.362971,1.294595 -0.943724,1.621269 l -4.4040453,2.4803 c -0.5807532,0.326674 -1.2945957,0.326674 -1.875349,-0.0121 L 2.882112,12.378451 C 2.2408636,12.015481 1.8536948,11.337935 1.8536948,10.599895 V 5.5908978 c 0,-0.7380406 0.3871688,-1.4276851 1.0163182,-1.8148539 L 6.8384935,1.3199416 C 7.4555438,0.93277278 8.2419805,0.92067375 8.8711299,1.2836445 Z" /><path
    d="M 7.8359375,0.36132813 C 7.3679247,0.36771738 6.9028141,0.49880909 6.4882812,0.75390625 L 2.5078125,3.2089844 a 0.13906349,0.13906349 0 0 0 -0.00195,0.00195 C 1.6810062,3.7312296 1.1835937,4.6132694 1.1835937,5.5917969 v 5.0078121 c 0,0.96937 0.5193995,1.874629 1.3613282,2.359375 l 4.0546875,2.335938 c 0.3958389,0.229842 0.8321043,0.34375 1.2792968,0.34375 0.4358772,0 0.8700384,-0.114506 1.2539063,-0.332031 L 13.537109,12.826172 C 14.331198,12.377896 14.816406,11.533544 14.816406,10.625 V 5.3359375 c 0,-0.836141 -0.447005,-1.6207371 -1.179687,-2.0449219 L 9.1953125,0.71484375 C 8.7742935,0.47243881 8.3037789,0.35494122 7.8359375,0.36132813 Z m 0.042969,1.32812497 c 0.2320903,1e-7 0.4617372,0.056153 0.6542969,0.1738281 a 0.13906349,0.13906349 0 0 0 0.00195,0.00195 l 4.4277347,2.5761718 c 0.321398,0.1939271 0.52539,0.536176 0.52539,0.9082032 v 5.2988286 c 0,0.435256 -0.225632,0.82285 -0.607422,1.041015 L 8.4765625,14.169922 C 8.0962337,14.375379 7.6281056,14.372687 7.2480469,14.15625 h -0.00195 L 3.1953125,11.822266 v 0.002 C 2.7657881,11.57091 2.5,11.1061 2.5,10.611328 V 5.5917969 C 2.5,5.0818308 2.755868,4.6085887 3.1972656,4.34375 L 7.1894531,1.8867187 a 0.13906349,0.13906349 0 0 0 0.00195,-0.00195 c 0.2064409,-0.1303838 0.4462604,-0.1953125 0.6875,-0.1953125 z" /><path
    d="M 4.9268474,11.979184 V 3.9454302 H 6.608612 V 6.8733945 H 9.391388 V 3.9454302 h 1.681765 V 11.979184 H 9.391388 V 8.470466 H 6.608612 v 3.508718 z" /></svg>
