<svg
  width="16"
  height="16"
  viewBox="0 0 16 16"
  fill="currentColor"
  stroke="none"
  stroke-width="0"
  fill-rule="evenodd"
  clip-rule="evenodd"
  xmlns="http://www.w3.org/2000/svg"><title>Markdown</title><path
    d="m 0,3.7333335 c 0,-0.8836587 0.71634453,-1.6 1.6,-1.6 h 12.8 c 0.883627,0 1.6,0.7163413 1.6,1.6 v 8.5333325 c 0,0.883628 -0.716373,1.600001 -1.6,1.600001 H 1.6 c -0.8836544,0 -1.6,-0.716373 -1.6,-1.600001 z m 10.666667,1.6 V 8.8457602 L 9.4438293,7.6229335 8.6895787,8.3771735 10.822933,10.510507 c 0.208214,0.208533 0.54592,0.208533 0.75424,0 L 13.710507,8.3771735 12.956267,7.6229122 11.733333,8.8458348 V 5.3333335 Z M 3.0437867,5.4896002 c -0.1525334,-0.152576 -0.38192,-0.198208 -0.581216,-0.1156587 -0.199296,0.08256 -0.3292374,0.277024 -0.3292374,0.492736 V 10.666677 H 3.2 V 7.1542508 l 1.6,1.6 1.6,-1.6 V 10.666667 H 7.4666667 V 5.8666668 c 0,-0.2154666 -0.12992,-0.4101333 -0.3292267,-0.4928 C 6.9381333,5.2913922 6.7087467,5.3370242 6.5562133,5.4895575 L 4.8,7.2457708 Z" /></svg>
