<svg
  width="16"
  height="16"
  viewBox="0 0 16 16"
  fill="currentColor"
  fill-rule="evenodd"
  clip-rule="evenodd"
  xmlns="http://www.w3.org/2000/svg"><title>MongoDB</title><path
    d="M 8.3685862,0.662138 C 8.2738862,0.5588232 8.1401662,0.5 8.0000162,0.5 c -0.14016,0 -0.27388,0.0588232 -0.36858,0.162138 l -2.63129,2.870492 c -1.81995,1.98541 -1.9344,4.99669 -0.2704,7.11447 l 2.77029,3.5259 V 15.5 h 1 v -1.3271 l 2.7701998,-3.5258 c 1.664,-2.11778 1.5496,-5.12907 -0.2704,-7.11447 z M 8.5000362,3.5 c 0,-0.27614 -0.22386,-0.5 -0.5,-0.5 -0.27614,0 -0.5,0.22386 -0.5,0.5 V 11 c 0,0.2761 0.22386,0.5 0.5,0.5 0.27614,0 0.5,-0.2239 0.5,-0.5 z" /></svg>
