<svg
  viewBox="0 0 16 16"
  overflow="visible"
  width="13"
  height="13"
  stroke="currentColor"
  fill="currentColor"
  stroke-width="0.0788566"
  xmlns="http://www.w3.org/2000/svg"><title>MQTT</title><path
    d="M 0.04731423,9.0685078 H 2.3320251e-7 v 6.1192702 c 0,0.441596 0.36273999679749,0.804337 0.80433699679749,0.804337 H 7.1049762 C 7.0497762,12.167571 3.9112852,9.0685078 0.04731423,9.0685078 Z m 0,-5.04682 H 2.3320251e-7 v 2.602267 C 5.1966472,6.6476148 9.4233592,10.82701 9.4785592,15.992115 H 12.175453 C 12.128139,9.3839348 6.7106932,4.0216878 0.04731423,4.0216878 Z M 15.999996,15.195663 V 9.6678178 C 14.170524,5.1887658 10.487923,1.6481058 5.9063572,3.7667975e-6 H 0.80433723 C 0.36274023,3.7667975e-6 2.3320251e-7,0.36274377 2.3320251e-7,0.80434077 V 1.5850208 C 7.9960552,1.6086808 14.501722,8.0512588 14.549036,16 h 0.646624 c 0.449482,-0.0079 0.804336,-0.36274 0.804336,-0.804337 z M 13.894526,2.2316438 c 0.741252,0.741252 1.498275,1.679645 2.10547,2.507639 V 0.79645477 A 0.79408558,0.79408558 0 0 0 15.203545,3.7667975e-6 H 11.142432 C 12.088711,0.65451277 13.066532,1.4036508 13.894526,2.2316438 Z" /></svg>
