<svg
  width="16"
  height="16"
  viewBox="0 0 16 16"
  fill="currentColor"
  xmlns="http://www.w3.org/2000/svg"><title>Networking</title><g
    transform="scale(0.75)"><path
      d="m 18,13 h 1 c 0.55,0 1,0.45 1,1.01 v 2.98 C 20,17.55 19.55,18 19,18 h -4 c -0.55,0 -1,-0.45 -1,-1.01 V 14.01 C 14,13.45 14.45,13 15,13 h 1 v -2 h -5 v 2 h 1 c 0.55,0 1,0.45 1,1.01 v 2.98 C 13,17.55 12.55,18 12,18 H 8 C 7.45,18 7,17.55 7,16.99 V 14.01 C 7,13.45 7.45,13 8,13 H 9 V 11 H 4 v 2 h 1 c 0.55,0 1,0.45 1,1.01 v 2.98 C 6,17.55 5.55,18 5,18 H 1 C 0.45,18 0,17.55 0,16.99 V 14.01 C 0,13.45 0.45,13 1,13 H 2 V 11 C 2,9.9 2.9,9 4,9 H 9 V 7 H 8 C 7.45,7 7,6.55 7,5.99 V 3.01 C 7,2.45 7.45,2 8,2 h 4 c 0.55,0 1,0.45 1,1.01 V 5.99 C 13,6.55 12.55,7 12,7 h -1 v 2 h 5 c 1.1,0 2,0.9 2,2 z" /></g></svg>
