<svg
  width="16"
  height="16"
  viewBox="0 0 4.2333333 4.2333184"
  fill="currentColor"
  stroke="none"
  stroke-width="0"
  xmlns="http://www.w3.org/2000/svg"><title>PDF</title><g
    id="layer1"
    transform="translate(-64.274441,-87.109376)"><path
      d="m 65.046384,87.121693 c -0.410075,0.07381 -0.345817,0.536389 -0.345817,0.845133 v 2.22311 0.563188 c 0,0.124028 -0.0061,0.254057 0.05809,0.365578 0.153969,0.267636 0.481969,0.207491 0.742226,0.207491 h 1.511715 c 0.230547,0 0.505725,0.0412 0.731156,-0.0066 0.296517,-0.06288 0.335937,-0.331967 0.335937,-0.58622 v -1.61052 -0.494024 c 0,-0.07337 0.01514,-0.166127 -0.0043,-0.237132 -0.01901,-0.0695 -0.104682,-0.128728 -0.153803,-0.177849 l -0.375459,-0.375459 -0.494024,-0.494024 c -0.06689,-0.06689 -0.142152,-0.174546 -0.227251,-0.217096 -0.04376,-0.02188 -0.110429,-0.01015 -0.158088,-0.01015 h -0.335937 -0.849722 c -0.139729,0 -0.297148,-0.02017 -0.434742,0.0046 m 1.561118,0.420272 c 0.192954,0.13592 0.356673,0.346793 0.523666,0.513786 0.169706,0.169706 0.38557,0.337503 0.523666,0.533546 h -1.057213 v -0.731156 l 0.0099,-0.316176 m -1.086854,2.647971 v 0.296415 h -0.187729 v -0.592829 c 0,-0.05236 -0.02318,-0.178888 0.01015,-0.221297 0.03393,-0.04317 0.158752,-0.02572 0.207216,-0.02572 0.107848,0 0.227856,-0.0041 0.313203,0.07429 0.150555,0.138332 0.06476,0.391706 -0.115593,0.449097 -0.07484,0.02381 -0.1497,0.02004 -0.227251,0.02004 m 0.543427,0.296415 V 89.65639 c 0.201822,-0.0017 0.426533,-0.05176 0.602672,0.07833 0.195442,0.144345 0.183941,0.522366 -0.01,0.664799 -0.162713,0.119505 -0.402416,0.110881 -0.592685,0.08683 m 1.383269,-0.681754 h -0.32604 v 0.19761 h 0.306296 v 0.148207 h -0.306296 v 0.335937 h -0.187729 v -0.839842 h 0.375459 l 0.128172,0.01584 0.01015,0.142246 m -1.926696,-0.0099 v 0.247012 c 0.05281,0.0065 0.108659,0.0109 0.158049,-0.01439 0.08038,-0.04115 0.09742,-0.162061 0.01936,-0.215557 -0.0519,-0.03557 -0.119392,-0.02784 -0.177414,-0.01707 m 0.731156,0 v 0.553307 c 0.0899,0 0.182132,0.0069 0.256741,-0.05326 0.123663,-0.09969 0.133868,-0.363972 -7.4e-4,-0.459458 -0.07827,-0.05553 -0.166794,-0.04243 -0.256001,-0.04059 z" /></g></svg>
