<svg
  fill="currentColor"
  width="16"
  height="16"
  viewBox="0 0 16 16"
  enable-background="new 0 0 512 512"
  xml:space="preserve"
  xmlns="http://www.w3.org/2000/svg"><title>PHP</title><g
    transform="matrix(0.03130994,0,0,0.03130994,-0.01565576,-0.01549637)"><path
      display="inline" d="M 171.844,204.374 C 160.707,191.626 142.988,185.251 118.698,185.251 H 37.96 L 0.5,377.99 h 41.984 l 9.96,-51.241 h 35.963 c 15.869,0 28.923,-1.663 39.173,-5.003 10.247,-3.33 19.562,-8.92 27.945,-16.767 7.037,-6.467 12.725,-13.599 17.087,-21.4 4.354,-7.797 7.448,-16.401 9.278,-25.812 4.443,-22.848 1.09,-40.643 -10.046,-53.393 z m -33.351,50.449 c -2.903,14.917 -8.492,25.563 -16.775,31.941 -8.288,6.38 -20.897,9.569 -37.822,9.569 H 58.354 L 74.032,215.666 H 102.8 c 15.952,0 26.582,2.943 31.896,8.832 5.31,5.892 6.579,15.999 3.797,30.325 z m 199.335,-17.764 -17.429,89.69 h -42.317 l 16.572,-85.278 c 1.884,-9.702 1.193,-16.32 -2.084,-19.847 -3.272,-3.529 -10.242,-5.296 -20.9,-5.296 h -33.289 l -21.458,110.421 h -41.656 l 37.46,-192.739 h 41.656 l -9.959,51.241 h 37.111 c 23.346,0 39.452,4.077 48.317,12.218 8.866,8.146 11.519,21.344 7.976,39.59 z m 161.726,-32.685 c -11.137,-12.748 -28.856,-19.123 -53.142,-19.123 h -80.738 l -37.46,192.739 h 41.984 l 9.96,-51.241 h 35.963 c 15.869,0 28.918,-1.663 39.169,-5.003 10.247,-3.33 19.562,-8.92 27.945,-16.767 7.036,-6.467 12.729,-13.599 17.088,-21.4 4.354,-7.797 7.447,-16.401 9.277,-25.812 4.442,-22.848 1.094,-40.643 -10.046,-53.393 z m -33.348,50.449 c -2.902,14.917 -8.491,25.563 -16.779,31.941 -8.284,6.38 -20.896,9.569 -37.822,9.569 h -25.537 l 15.678,-80.667 h 28.765 c 15.952,0 26.581,2.943 31.899,8.832 5.31,5.892 6.574,15.999 3.796,30.325 z" /></g></svg>
