<svg
  width="16"
  height="16"
  viewBox="0 0 4.2333331 4.2333334"
  fill="none"
  stroke="currentColor"
  stroke-width="0.5"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-dasharray="none"
  xmlns="http://www.w3.org/2000/svg"><title>PGP</title><g
    id="layer1"
    transform="translate(-38.363406,-138.48418)"><path
      d="m 40.435219,139.93219 c -0.05455,0.14075 -0.139467,0.26965 -0.264959,0.35571 -0.206898,0.19544 -0.641699,0.22041 -0.879991,0.004 -0.478116,-0.36817 -0.329464,-1.0492 0.237627,-1.27003 0.522274,-0.18472 1.094103,0.41447 0.907324,0.90985 z m -0.182441,0.3065 c 0.539271,0.54076 1.081382,1.07876 1.618459,1.62164 0.115585,0.0709 0.106052,0.14199 0.0077,0.20829 -0.04849,0.0485 -0.09698,0.097 -0.145463,0.14547 m -0.791417,-1.27387 c -0.100429,0.0952 -0.18941,0.20076 -0.286714,0.29891 m 0.811341,0.22572 -0.40872,0.40872" /></g></svg>
