<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   fill="currentColor"
   stroke="none"
   stroke-width="0"
   width="16"
   height="16"
   viewBox="0 0 16 16"
   version="1.1"
   xmlns="http://www.w3.org/2000/svg"><title>Slack API</title>
  <path
     d="m 3.9363682,8.1548622 c 0.5964761,-0.065564 0.9060105,0.0588 0.8382323,0.7252578 -0.020291,0.7614101 0.0588,1.812021 -0.8359741,2.089908 C 1.7244419,11.374461 1.6882892,7.8362732 3.9364446,8.1548622 Z M 3.0664886,5.172449 C 4.3023462,4.9555545 5.6579638,4.8674418 6.880305,5.2017944 8.109399,5.6265397 7.845061,7.4453461 6.7379633,7.8316914 6.2363853,8.0056695 5.5901965,7.8295096 5.1337931,7.9401277 4.3407571,7.8926732 3.5273866,7.9287823 2.7546851,7.7142005 1.4939657,7.2939498 1.9616491,5.3373398 3.0664886,5.1723944 Z M 6.2544835,2.2443303 c 0.6665124,-0.0384 1.375963,0.3276108 1.4301812,1.0461159 C 7.6933919,3.934355 8.0258354,4.8426237 7.0181413,4.7387037 4.0764409,4.9894818 4.5170261,2.3008176 6.2544835,2.2443303 Z m 0.2168617,5.9466191 c 0.5671089,0.027164 1.3104431,0.4247671 1.4460103,1.1138831 0.094909,0.4744466 -0.042982,1.0754395 0.060982,1.4956905 -0.1491272,1.007672 0.2643598,2.663802 -0.991865,3.0479 C 4.8829932,14.284459 5.0321204,11.717824 5.0456695,10.348647 4.9959241,9.4313561 5.3439239,8.118644 6.4713343,8.1909494 Z m 2.539537,3.1789516 C 11.79895,11.110057 11.527827,13.76031 9.7158054,13.884576 9.0809186,13.913921 8.3511553,13.586332 8.2788608,12.89498 8.2832244,12.099675 7.8563519,11.286304 9.0108822,11.369901 Z M 10.904231,6.9189173 C 10.197038,8.7309055 7.8088864,7.5967097 8.1319699,5.8976632 8.1363335,4.9035509 8.1363335,3.8868241 8.3601662,2.9153046 8.5092825,2.3866066 8.9340605,2.1426031 9.4582311,2.1041922 c 1.3420469,-0.0588 1.6538499,1.2968721 1.6086649,2.3226208 -0.0022,0.8314468 0.101673,1.6877555 -0.162665,2.4921043 z m 0.61009,4.1933867 c -0.777229,0.01353 -1.5792866,0.08127 -2.3339334,-0.146869 -1.7848901,-0.628101 -0.7275269,-3.1292272 0.9602394,-2.8038747 0.967014,0.00873 1.945319,-0.024873 2.898773,0.1626763 1.082236,0.1784836 1.258462,1.6674215 0.48576,2.2955114 -0.54901,0.49932 -1.321734,0.442855 -2.010839,0.492556 z m 0.103855,-5.6371061 c 0.732021,-1.0031668 2.311329,-0.1649344 2.24582,0.9715305 -0.01135,1.4098466 -1.064159,1.5047448 -2.200646,1.4437521 -0.623574,0.040691 -0.332105,-2.11705 -0.04516,-2.4152826 z" />
</svg>
