<svg
  width="16"
  height="16"
  viewBox="0 0 16 16"
  version="1.1"
  xml:space="preserve"
  clip-rule="evenodd"
  fill-rule="evenodd"
  stroke-linejoin="round"
  stroke-miterlimit="2"
  xmlns="http://www.w3.org/2000/svg"><title>Apache Superset</title><g
    transform="matrix(0.21203287,0,0,0.21203287,-3.7572226,0.79936373)"><path
      d="m 73.79,15.23 c -6.47,0 -12.43,3.64 -18.19,10 -5.66,-6.46 -11.72,-10 -18.49,-10 -11.21,0 -19.39,8 -19.39,18.77 0,10.77 8.18,18.67 19.39,18.67 6.89,0 12.23,-3.23 18.19,-9.67 5.76,6.46 11.62,9.69 18.49,9.69 C 85,52.67 93.18,44.8 93.18,34 93.18,23.2 85,15.23 73.79,15.23 Z m -36.6,26.14 c -4.75,0 -7.58,-3.13 -7.58,-7.27 0,-4.14 2.83,-7.36 7.58,-7.36 4,0 7.27,3.22 10.81,7.56 -3.34,4.04 -6.87,7.07 -10.81,7.07 z m 36.26,0 c -3.94,0 -7.27,-3.13 -10.81,-7.27 3.64,-4.34 6.77,-7.36 10.81,-7.36 4.75,0 7.55,3.26 7.55,7.36 0,4.1 -2.8,7.27 -7.55,7.27 z"
      style="fill:currentColor;fill-rule:nonzero" /><path
      d="m 63.74,50 7.54,-9 c -3,-0.9 -5.77,-3.6 -8.64,-6.95 L 55.3,43 c 2.403,2.788 5.256,5.154 8.44,7 z"
      style="fill:#ffffff;fill-opacity:0.5;fill-rule:nonzero" /><path
      d="m 55.6,25.22 c -2.387,-2.828 -5.222,-5.247 -8.39,-7.16 l -7.55,9.1 c 2.87,1 5.41,3.58 8.11,6.87 l 0.3,0.21 z"
      style="fill:#ffffff;fill-opacity:0.5;fill-rule:nonzero" /></g></svg>
