<svg
  width="14"
  height="16"
  stroke-width="3"
  stroke="currentColor"
  fill="currentColor"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-dasharray="none"
  paint-order="stroke markers fill"
  viewBox="0 0 16 16"
  xml:space="preserve"
  xmlns="http://www.w3.org/2000/svg"><title>Vast.ai</title><g
    transform="matrix(0.06841181,0,0,0.06841181,0.18910874,-4.5233473)">
    <circle style="fill:none;fill-opacity:0.75;stroke:#ffffff;stroke-width:35;stroke-opacity:0.75"
      cx="113.26271" cy="169.89407" r="88.965996" /><path
      d="m 57.578125,95.625 c -1.031462,0.0083 -1.86089,0.0918 -2.105469,0.0918 H 46.158203 11.162109 a 3.9425114,3.9425114 0 0 0 -3.521484,5.712893 l 3.832031,7.61914 a 3.9425114,3.9425114 0 0 0 0.06055,0.11719 l 6.931641,12.69921 22.453125,41.20313 46.001953,84.38476 23.509768,43.17774 a 3.9425114,3.9425114 0 0 0 6.80078,0.21289 l 3.18945,-5.07813 a 3.9425114,3.9425114 0 0 0 0.12891,-0.2207 l 5.95703,-11.00195 21.69726,-39.78906 49.38868,-90.59375 a 3.9425114,3.9425114 0 0 0 0.002,-0.002 l 15.52148,-28.5039 a 3.9425114,3.9425114 0 0 0 0.0156,-0.0274 l 7.5332,-14.11132 a 3.9425114,3.9425114 0 0 0 -3.47851,-5.798833 h -35.27735 -9.5957 c -0.19217,0 -0.9713,-0.07892 -1.95508,-0.08398 -0.98377,-0.0051 -2.32352,-0.04037 -3.94531,0.941407 -2.28212,1.381547 -3.17772,3.257488 -3.9707,4.841801 -0.79298,1.5843 -1.40356,3.09232 -1.72266,3.66796 -3.58244,6.46263 -6.72537,12.99516 -10.16016,19.19141 -8.8153,15.9026 -16.99932,32.09758 -25.41601,48.04883 -3.49751,6.62844 -7.66471,13.3857 -11.26953,20.51758 -3.17575,-5.85773 -6.21328,-11.90678 -9.41602,-17.97657 -8.790767,-16.66019 -17.538871,-33.37934 -26.521483,-49.98828 -3.442126,-6.36452 -6.683658,-12.97597 -10.306641,-19.51172 -0.345674,-0.62358 -0.979322,-2.19844 -1.814453,-3.85156 C 64.979322,99.860552 64.002734,97.891485 61.607422,96.523437 59.96621,95.58609 58.606076,95.616717 57.578125,95.625 Z m -5.796875,14.13281 c 1.147348,-0.0536 2.156019,0.19067 2.404297,0.17774 -0.181531,-0.0624 0.428268,0.56718 0.998047,1.80468 0.624131,1.35556 1.163141,2.94758 2.054687,4.5293 4.168165,7.39486 8.0629,15.0704 12.017578,22.73242 8.037215,15.57177 16.431041,30.90944 24.560547,46.31641 5.54823,10.51495 10.798914,21.49302 16.953124,32.03711 a 3.9425114,3.9425114 0 0 0 7.04297,-0.4707 c 3.41812,-8.21001 8.48683,-16.40213 13.00586,-24.75782 9.65344,-17.84922 19.41019,-35.80499 28.57617,-54.00586 3.70199,-7.35102 7.547,-14.69455 11.52734,-21.875 0.85365,-1.53996 1.41629,-3.12825 2.0625,-4.47656 0.64622,-1.34831 1.564,-2.20374 1.10938,-1.93555 -0.49731,0.29339 0.87023,-0.14108 2.46484,-0.0683 1.59462,0.0727 3.33594,0.32421 5.06641,0.32421 h 18.21289 l -8.32422,15.34375 -23.98633,44.02149 -37.2539,68.29687 -16.15625,29.60547 -2.22656,-3.94726 L 100.05078,241.70508 62.515625,172.8418 36.832031,125.71094 a 3.9425114,3.9425114 0 0 0 0,-0.002 L 29.763672,112.76172 28.375,110.08984 h 18.347656 c 1.712826,0 3.448111,-0.2568 5.058594,-0.33203 z" /></g></svg>
