<svg
  width="16"
  height="16"
  viewBox="0 0 16 16"
  fill="currentColor"
  stroke="none"
  stroke-width="0"
  xmlns="http://www.w3.org/2000/svg"><title>WASM</title><path
    d="M 1,1.0000002 V 15 H 15 V 1.0000002 H 9.600769 v 0.075411 a 1.604589,1.604589 0 0 1 -3.2083941,0 v -0.075411 z m 3.2514866,7.546974 H 5.1799233 L 5.813571,11.917944 H 5.825324 L 6.5862893,8.5469742 h 0.8677161 l 0.6875128,3.4150408 h 0.013712 L 8.8770207,8.5469742 H 9.786849 L 8.604758,13.503533 H 7.6831759 L 7.0015389,10.129627 H 6.9839101 L 6.2533047,13.503533 H 5.3160546 Z m 6.5813224,0 h 1.462189 l 1.454355,4.9565588 h -0.957818 l -0.316333,-1.102764 h -1.665899 l -0.243861,1.102764 H 9.633089 Z m 0.948024,1.2193076 -0.391747,0.003 -0.404475,1.8186772 h 1.25946 z" /></svg>
