---
import Section from "../Section.astro"
import HTML from "@/icons/html.astro"
import CSS from "@/icons/css.astro"
import Javascript from "@/icons/javascript.astro"
import Typescript from "@/icons/type.astro"
import React from "@/icons/react.astro"
import Node from "@/icons/node.astro"
import MySQL from "@/icons/sql.astro"
import Git from "@/icons/git.astro"
import GitHub from "@/icons/GitHub.astro"
import GitLab from "@/icons/GitLab.astro"
import Tailwind from "@/icons/tailwind.astro"
import Next from "@/icons/next.astro"
import Docker from "@/icons/docker.astro"
import Bash from "@/icons/shell.astro"
import { technical_skills, core_skills } from "@cv"

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  Javascript,
  Typescript,
  React,
  Node,
  MySQL,
  Git,
  GitHub,
  Next,
  Tailwind,
  GitLab,
  Docker,
  Bash
}
---

<Section title="Core Skills">
  <ul>
    {
      core_skills.map((name) => {

        const _ = (text : string) => 
          text.replaceAll(/(\w+)/g, (match) => match.charAt(0).toUpperCase() + match.slice(1))
        return (
          <li><span>{_(name)}</span></li>
        )
      })
    }
  </ul>
</Section>

<Section title="Technical Skills">
  <ul>
    {
      technical_skills.map(({ name, icon, expert }) => {
        // split over non-word characters which is a simple and an ingenious way
        // to take the text of the skill and turn it into something that can work
        // nicely for the icon name (e.g. "Docker/Compose/Swarm" => gives "Docker")
        const iconName = icon || name.split(/\W/)[0]
        const Icon = SKILLS_ICONS[iconName]

        return (
          <li class={ expert === true ? 'expert_skill' : ''}>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }

  li.expert_skill {
    background: #333;
    color: white;
  }
</style>
